<!-- begin portfolio -->
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2>
          <div class="portfolio__view">
            <div class="portfolio__toggle">
              <div class="icon">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <div class="portfolio__filters">
          <button class="portfolio__filter is-active" data-filter="all">
            <span class="portfolio__filter-icon"><i class="ion ion-ios-apps"></i></span>
            <span class="portfolio__filter-text">All</span>
          </button>
          <button class="portfolio__filter" data-filter="applications">
            <span class="portfolio__filter-icon"><i class="ion ion-ios-desktop"></i></span>
            <span class="portfolio__filter-text">Applications</span>
          </button>
          <button class="portfolio__filter" data-filter="dashboards">
            <span class="portfolio__filter-icon"><i class="ion ion-ios-browsers"></i></span>
            <span class="portfolio__filter-text">Dashboards</span>
          </button>
          <button class="portfolio__filter" data-filter="visualizations">
            <span class="portfolio__filter-icon"><i class="ion ion-ios-stats"></i></span>
            <span class="portfolio__filter-text">Visualizations</span>
          </button>
          <button class="portfolio__filter" data-filter="geospatial">
            <span class="portfolio__filter-icon"><i class="ion ion-ios-globe"></i></span>
            <span class="portfolio__filter-text">Geospatial</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      {% if site.posts.size > 0 %}
        {% for post in site.posts offset:0 limit:3 %}
          {% include article.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div> -->

  <div class="portfolio__gallery animate">
    <div class="container">
      <!-- <div class="row">
        {% for photo in site.data.settings.portfolio.portfolio__gallery %}
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <a href="{% if photo.video %}{{photo.video}}{% else %}{{photo.image}}{% endif %}" class="portfolio__link glightbox" {% if photo.video %}aria-label="Video"{% else %}data-glightbox='title: {{photo.title}}; description: {{photo.description}}; descPosition: bottom;'{% endif %}>
              <span class="portfolio__icon"><i class="ion ion-ios-eye"></i></span>
              <img data-src="{{photo.image}}" class="portfolio__image lazy" alt="{{photo.title}}">
            </a>
           </div>
        </div>
        {% endfor %}
      </div> -->

        <div class="row portfolio__grid">
        {% for post in site.posts %}
        <div class="col col-4 col-d-6 col-t-12 portfolio__col" data-category="{{ post.category | join: ' ' | downcase }}">
          <div class="portfolio__item">
            <a href="{{post.url}}" class="portfolio__link" data-glightbox='title: {{photo.title}}; description: {{photo.description}}; descPosition: bottom;'>
              <span class="portfolio__icon"><i class="ion ion-ios-eye"></i></span>
              {% if post.video %}
                <video class="portfolio__image" src="{{post.video}}" autoplay muted loop playsinline></video>
              {% else %}
                <img data-src="{{post.image}}" class="portfolio__image lazy" alt="{{photo.title}}">
              {% endif %}
            </a>
           </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

</section>
<!-- end portfolio -->