/* Hero */
.hero {
  margin-bottom: 40px;

  @media only screen and (max-width: $desktop) {
    margin: 24px 0;
  }
}

.hero__row {
  align-items: center;

  @media only screen and (max-width: $tablet) {
    flex-direction: column-reverse;
  }
}

.hero__image-box {
  @media only screen and (max-width: $tablet) {
    margin-bottom: 32px;
  }
}

.hero__image {
  display: block;
  width: 100%;
  max-width: 260px;
  aspect-ratio: 3 / 4;
  margin-left: auto;
  object-fit: cover;
  border-radius: 12px;

  @media only screen and (max-width: $tablet) {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__inner {
  .hero__title {
    margin-bottom: 32px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 1.2;
    color: #1f2f2b;

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 24px;
      font-size: 40px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description {
    margin-bottom: 0;
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    font-weight: 500;
    color: #6e6e6e;
  }
}